/* Config Navegador */
*, *::after, *::before{
    box-sizing: border-box;
}

/* Fim Confg Navegador */


/* Configuração de containers */

body{
    background-image: radial-gradient(rgba(255, 255, 255, 0.575), rgba(0, 0, 0, 0.459));
}
#container{
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: auto;
    padding: 10px;
}

/* Final da Configuração de containers */


/* Conf H1/H6 e links */



h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-size: 20px;
    color: black;
}

h2{
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 1px 3px;
}


ul li a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

ul li a:hover{
    color: blue;
    font-weight: 600;
    font-size: 20px;
    transition: 0.2s;
}

h3{
    font-size: 25px;
}
p a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

p a:hover{
    padding: 5px;
    color: blue;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px 2px 1px;
}


/* Fim Confi H1/H6 e links */



/* Regras Imagens */
.centralizar{
    text-align: center;
}

.centralizar img{
    max-width: 100%;
    filter: grayscale(100%);
}

.centralizar img:hover{
    transition: 1.5s;
    filter: grayscale(0%);
}

figure{
    text-align: center;
}



figure a{
    text-decoration: none;
    padding: 10px;
}

figure a img{
    filter: grayscale(0%);
}

figure a img:hover{
    transition: 1.5s;
    filter: grayscale(60%);
    width: 80%;
}

/* Fim Regras Img */

