*, *::after, *::before{
    box-sizing: border-box;
}

body{
    background-image: radial-gradient(#D9D9D9, #D9D9D9);
}

/* Regas CSS Para Containers */

#container{
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    padding: 10px;
}

/* Fim das Regas CSS para Containers */

/* Regas CSS titulos e textos */

h1{
    text-align: center;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    text-align: center;
    font-size: 28px;
    color: #524321;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-size: 17px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Fim Regras CSS títulos e textos */

/* Regras CSS para Links */

p a{
    text-decoration: none;
    color: blue;
    padding: 5px;
}

p a:hover{
    color: blue;
    font-size: 18px;
}

/* Fim Regras CSS para links */

/* Regras Para Imagens */

.centralizar{
    text-align: center;
}

figure{
    text-align: center;

}

figure img{
    max-width: 100%;
    filter: grayscale(70%);
}

figure img:hover{
    padding: 10px;
    filter: grayscale(0%);
}
.centralizar img{
    max-width: 100%;
    filter: grayscale(0%);
}

.centralizar img:hover{
    filter: grayscale(100%);
    transition: 1s;
    padding: 10px;
}




/* Fim Regas para Imagens */

/* Regras Cabeçalho */
footer{
    background: rgba(0, 0, 0, 0.658);
    padding: 10px;
    margin-top: 10px;
    height: 200px;
}

footer p {
    text-align: center;
    font-size: 17px;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer p a{
    text-decoration: none;
}

footer p a img{
    max-width: 100%;
}
footer p a img:hover{
    padding: 10px;
}

iframe{
    padding: 10px;
}

/* Fim Regra Cabeçalho */