/* Regra CSS * Seletor Univerlsal */

/* Alterando Box Model para todos os elementos da página */
*, *::after, *::before{
    box-sizing: border-box;
}

/* Pseudo-elementos ::after e ::before
permite adicionar conteúdo dentro do conteúdo */
h2::after{ 
    content: ":)";

}
body{
    background-image: url(../imagens/tarde.jpg);
    background-size: cover;
    background-attachment: fixed;

}

/* Seletor id */

#container{
    background-color: rgb(245, 245, 245);

    /* Quando combinamos largura e margin automática, o efeito é a centralização da caixa */
    width: 70%;
    margin: auto;
    /* Espaçamento/Enchimento interno */
    padding: 10px;

    /* Mini Exercicio */
    border-radius: 10px;
    box-shadow: blue 2px 2px 10px;
}

/* Seletor tag 
finalidade desta rega: tornar as imagens flexiveis*/
img{
    max-width: 100%;
}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    border-bottom: solid 5px;
    font-size: 50px;

}

h2{
    color: rgb(75, 94, 100);
    text-shadow: black 2px 2px 3px, greenyellow -2px -2px -1px ;
}


/* Seletor classe */

.centralizar{
    text-align: center;
    font-weight: 400;
    font-size: 30px;
}

.sombra-texto{
    text-shadow: black 3px 2px 4px;
}

.canto-arredondado{
    border-radius: 10px;
}

.destaque{
    background-color: yellow;
    border: solid 1px;
    padding: 1px;
}




/* Seletor Descendente */
nav a{ /* Regra Inicial do Link */
    text-decoration: none;
    color: rgb(245, 0, 0);
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.699);
    /* Primeiro Valor Cima e Baixo
    Segundo Valor Esquerda e Direita */
    padding: 15px 40px ;
    /* Transforma Elemento Inline em Elemento Bolock */
    display: inline-block;

    /* ^^ */

    width: 33.33%;
    text-align: center;
}


/* Regra de Acionamento (Quando passar o mouse em cima mude algo) :hover */

nav a:hover{
    background-color: rgba(75, 77, 77, 0.473);
    padding: 15px 40px;
    color: rgb(211, 119, 119);
}


p{
    font-size: 20px;
}

figure{
    text-align: center;
}

figure img{
    /* Deixa preto e branco sem imagem preparada para tal */
    filter: grayscale(100%);
}

/* Assim que passar o mouse o filter fica 0% */
figure img:hover{
    transition: 2s;
    filter: grayscale(0%);
}